<form action="/contact-us"  method="POST">


    <label for="firstName">Enter First Name</label>
    <input type="text" id="firstName" name="firstName">   <br> 

    <label for="lastName">Enter Last Name</label>
    <input type="text" id="lastName" name="lastName">   <br> 

    <label for="email">Email</label>
    <input type="email" id="email" name="email"><br> 

    <label for="phone">Phone </label>
    <input type="text" id="phone" name="phone"><br>

    <label for="location">Location</label>

    <select name="location" id="location" name="location">
        <option value="Tnt">Trinidad and Tobago</option>
        <option value="Barbados">Barbados</option>
        <option value="CAD">Canada</option>
        <option value="USA">United States of America</option>
    </select>

    <input type="submit" value="Send Message"> 
    

</form>